@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;

.button {
    @extend %roboto;
    cursor: pointer;
    color: $white;
    border: none;
}

    .blue {
        background-color: $phthalogreen;
    }

    .green {
        background-color: $cobaltgreen;
    }

    .danger {
        background-color: $red;
    }

    .small {
        padding: 0.5vw 1vw;
    }

    .medium {
        padding: 1vw 2vw;
    }

    .long {
        padding: 1vw 24vw;
    }