@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;

header {
    background-color: $white;
}

.logo {
    
    cursor: pointer;
h1 {
    background-color: $cobaltgreen;
    color: $white;
    border: 2px solid $cobaltgreen;
    width: fit-content;
}
span {
    background-color: $white;
    color: $cobaltgreen;
}
}